@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;700&family=Roboto:wght@100;300;400;500;700;900&family=Source+Sans+Pro:wght@200;300;400;600;700;900&display=swap");

@media (max-width: 720px) {

  body header {
    width: 400px;
  }

  body div {
    width: 400px;
  }

  body div div {
    width: 450px;
    }

  .container {
    width: 390px;
  }

  .container1 {
    width: 97%;
  }

  .search {
    width: 300px;
    height: 50px;
    margin-left: 0px;
  }

  .search input {
    font-size: 0.7rem;
    height: 30px;
    width: 80px;
    margin-left: 0px;
    padding-left: 5px;
    border: none;
    border-radius: 5px;
  }
  
  .search select {
    width: 100px;
    height: 30px;
    font-size: 0.7rem;
  }

  .input {
    width: 270px;
    height: 30px;
    margin-left: -5px;
    margin-top: 0px;
  }

  .search form .buttonLupa {
    display: none;
  }
  
  .input form input {
    width: 80px;
  }

  .input form label {
    font-size: 0.5rem;
  }

  .container2 {
    width: 95px;
    height: 100px;
    background-color: rgb(215, 213, 213);
    margin-left: -98px;
    margin-top: 10px;
  }

  .timer {
    width: 85px;
    height: 60px;
    background-color: rgb(255, 255, 255);
  }

  .timer label {
    font-size: 1.2rem;
    font-weight: bold;
  }
  
  .buttontimer {
    width: 90%;
  }

  .buttontimer i {
    padding-top: 2px;
    width: 20px;
    font-size: 1rem;
  }
  
  
  .tablecontainer {
    display: flexbox;
    width: 97.5% !important;
  }

  .table thead {
    height: 30px;
    font-size: 0.6rem;
  }

  .table thead tr th i {
    font-size: 0.5rem;
    cursor: pointer;
  }

  .table tbody tr {
    height: 30px;
    font-size: 0.6rem;
  }

  .botaoSearchsave {
    height: 30px !important;
    width: 30px !important;
    margin-left: -2px !important;
    border: none !important;
    border-radius: 5px !important;
  }
  
}
